In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import numpy as np

In [2]:
input_file = 'purchase_data.json'
df = pd.read_json(input_file)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [4]:
df['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [5]:
print("total number of players is : " + str(df['SN'].nunique()))

total number of players is : 573

In [6]:
print("number of unique items is : " + str(df['Item ID'].value_counts().count()))

number of unique items is : 183

In [7]:
print("average purchase price is : "  +str(df['Price'].mean()))

average purchase price is : 2.931192307692303

In [8]:
print("total number of purchases is : "  +str(df['Item ID'].count()))

total number of purchases is : 780

In [9]:
print("total revenue is : "  +str(df['Price'].sum()))

total revenue is : 2286.33

In [10]:
# count of female, male and other players 
gender_count = df.groupby('Gender').SN.nunique()
gender_count

Gender
Female                   100
Male                     465
Other / Non-Disclosed      8
Name: SN, dtype: int64

In [11]:
# percentage of female, male and other players 
gender_count.apply(lambda x: x*100 / gender_count.sum())

Gender
Female                   17.452007
Male                     81.151832
Other / Non-Disclosed     1.396161
Name: SN, dtype: float64

In [12]:
#Purchasing Analysis (Gender)
#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

In [13]:
grouped = df.groupby("Gender")

In [14]:
#Purchase Count
grouped['Item ID'].count()

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Item ID, dtype: int64

In [15]:
#Average Purchase Price
grouped['Price'].mean()

Gender
Female                   2.815515
Male                     2.950521
Other / Non-Disclosed    3.249091
Name: Price, dtype: float64

In [16]:
#Total Purchase Value
grouped['Price'].sum()

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [17]:
#Normalized Totals
#min_max_scaler = preprocessing.MinMaxScaler()
#x_scaled = min_max_scaler.fit_transform(grouped)
#df_normalized = pd.DataFrame(x_scaled)

In [18]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

In [19]:
bins = np.arange(0,50,4)
bins

array([ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48])

In [20]:
#Purchase Count
df['age_bin'] = pd.cut(df["Age"],bins)
df.head()
df.groupby('age_bin')['Item ID'].count()

age_bin
(0, 4]        0
(4, 8]       22
(8, 12]      24
(12, 16]     87
(16, 20]    161
(20, 24]    238
(24, 28]    104
(28, 32]     66
(32, 36]     38
(36, 40]     37
(40, 44]      2
(44, 48]      1
Name: Item ID, dtype: int64

In [21]:
#Average Purchase Price
df.groupby('age_bin')['Price'].mean()

age_bin
(0, 4]           NaN
(4, 8]      2.788182
(8, 12]     3.385417
(12, 16]    2.745862
(16, 20]    2.907019
(20, 24]    2.924748
(24, 28]    2.974712
(28, 32]    3.061970
(32, 36]    2.981053
(36, 40]    2.901351
(40, 44]    2.960000
(44, 48]    2.720000
Name: Price, dtype: float64

In [22]:
#Total Purchase Value
df.groupby('age_bin')['Price'].sum()

age_bin
(0, 4]        0.00
(4, 8]       61.34
(8, 12]      81.25
(12, 16]    238.89
(16, 20]    468.03
(20, 24]    696.09
(24, 28]    309.37
(28, 32]    202.09
(32, 36]    113.28
(36, 40]    107.35
(40, 44]      5.92
(44, 48]      2.72
Name: Price, dtype: float64

In [23]:
#Normalized Totals

In [24]:
#Top Spenders
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
#Purchase Count
#Average Purchase Price
#Totalpurchase value

In [25]:
df.head()

,Age,Gender,Item ID,Item Name,Price,SN,age_bin
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,"(36, 40]"
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,"(20, 24]"
2,34,Male,174,Primitive Blade,2.46,Assastnya25,"(32, 36]"
3,21,Male,92,Final Critic,1.36,Pheusrical25,"(20, 24]"
4,23,Male,63,Stormfury Mace,1.27,Aela59,"(20, 24]"

In [26]:
total = df.groupby('SN').Price.sum()
purchase_count = df.groupby('SN').Price.count()
Average = df.groupby('SN').Price.mean()

spenders = pd.DataFrame({'total':total,
            'purchase count': purchase_count,
            'Average Purchae Price' : Average    
})


spenders.nlargest(5,'total')

             Average Purchae Price  purchase count  total
SN
Undirrala66               3.412000               5  17.06
Saedue76                  3.390000               4  13.56
Mindimnya67               3.185000               4  12.74
Haellysu29                4.243333               3  12.73
Eoda93                    3.860000               3  11.58

In [27]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [29]:
df.head()

,Age,Gender,Item ID,Item Name,Price,SN,age_bin
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,"(36, 40]"
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,"(20, 24]"
2,34,Male,174,Primitive Blade,2.46,Assastnya25,"(32, 36]"
3,21,Male,92,Final Critic,1.36,Pheusrical25,"(20, 24]"
4,23,Male,63,Stormfury Mace,1.27,Aela59,"(20, 24]"

In [54]:

count = df.groupby("Item Name").Price.count()
price = df.groupby("Item Name").Price.mean()
total = df.groupby("Item Name").Price.sum()
item_id = df.groupby("Item Name")['Item ID'].mean().astype('int')

popular = pd.DataFrame({'Item id':item_id,
                       'Purchase Count' : count,
                       'Item Price' : price, 
                       'Total Purchase Value' : total})
popular.nlargest(5,'Purchase Count')

,Item Price,Item id,Purchase Count,Total Purchase Value
Item Name,,,,
Final Critic,2.757143,95,14,38.60
Arcane Gem,2.230000,84,11,24.53
"Betrayal, Whisper of Grieving Widows",2.350000,39,11,25.85
Stormcaller,3.465000,105,10,34.65
Retribution Axe,4.140000,34,9,37.26

In [ ]:
#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [56]:
popular.nlargest(5,'Total Purchase Value')

,Item Price,Item id,Purchase Count,Total Purchase Value
Item Name,,,,
Final Critic,2.757143,95,14,38.60
Retribution Axe,4.140000,34,9,37.26
Stormcaller,3.465000,105,10,34.65
Spectral Diamond Doomblade,4.250000,115,7,29.75
Orenmir,4.950000,32,6,29.70